<div class="service-banner-container">
    <div class="service-banner-wrapper">
        <ul>
            <li>
                <div class="icon return">
                </div>
                <div class="description">
                    <span>Reso gratuito</span>
                    <p>Lo ritiriamo a casa tua.</p>
                    <a data-wa="Footer" href="https://stage.freddy.com/ita_it/customer-service/refunds/">Scopri di più</a>
                </div>
            </li>
            <li>
                <div class="icon free">
                </div>
                <div class="description">
                    <span>Spedizione gratuita</span>
                    <p>Per ordini sopra i 59€.</p>
                    <a data-wa="Footer" href="https://stage.freddy.com/ita_it/customer-service/delivery/">Scopri di più</a>
                </div>
            </li>
            <li>
                <div class="icon phone">
                </div>
                <div class="description">
                    <span>Hai bisogno di aiuto?</span>
                    <p>Chiamaci allo +39 018 559 101</p>
                </div>
            </li>
        </ul>
    </div>
</div>