.product-gallery-pager {
    width: 100px !important;
    float: left;
    height: 100%;
    position: absolute;
    top: 0;
}
.product-gallery-pager a {
    width: auto !important;
    border: 1px solid #f2f2f2 !important;
    height: calc(100% / 6 - 5px);
    min-height: 60px;
    max-width: 100%;
    text-align: center;
    display: none !important;
}
.product-gallery-pager a:nth-child(-n+6) {
    display: inline-block !important;
}
.product-gallery-pager a.active {
    border: 3px solid #000000 !important;
}
.product-gallery-pager a img {
    height: 100% !important;
    width: auto !important;
    margin: 0 auto;
}
.product-img-box {
    height: auto;
}

.add-to-cart-wrapper .colors-grid li.selected {
    border: 3px solid #000000 !important;
}
.add-to-cart-wrapper .colors-grid li .content {
    border-bottom: none !important;
}
.add-to-cart-wrapper .colors-grid li .content .sale {
    bottom: 0 !important;
    line-height: 18px !important;
}
.add-to-cart-wrapper .colors-grid li.selected  .content .sale {
    bottom: -3px !important;
}
.add-to-cart-wrapper .colors-grid li.selected .content img {
    padding: 6px !important;
}

.back-btn, .service-box {
    display: none !important;
}

.breadcrumbs {
    margin-bottom: 30px !important;
}
.breadcrumbs li {
    text-transform: none !important;
}
.breadcrumbs li a {
    color: #020303;
}
.breadcrumbs li span {
    font-size: 0;
}
.breadcrumbs li span:after {
    content: '>';
    font-size: 15px;
    color: #020303;
    display: inline-block;
}
.breadcrumbs li strong {
    font-family: "pf_din_text_cond_promedium", Arial, Verdana, sans-serif;
    color: #020303;
}

/*
per eliminare zoom e gallery
.zoom-image > figure {
    opacity: 0 !important;
}
.zoom-image figcaption {
    display: none !important;
}*/

.add-to-cart-wrapper .sizes-grid {
    width: calc(100% + 4px) !important;
    left: -2px !important;
    border: 2px solid #020303 !important;
    border-top: none !important;
    margin-top: 2px !important;
    padding: 0 !important;
    font-family: "pf_din_text_cond_prolight", Arial, Verdana, sans-serif !important;
    font-weight: normal !important;
    font-size: 16px !important;
    z-index: 1 !important;
    max-height: 290px;
    overflow-y: auto;
}
.add-to-cart-wrapper .sizes-grid li {
    width: 100% !important;
    text-transform: none !important;
    margin-bottom: 0 !important;
}
.add-to-cart-wrapper .sizes-grid li:before {
    display: none !important;
}
.add-to-cart-wrapper .sizes-grid li.selected .content {
    border: none !important;
}
.add-to-cart-wrapper .sizes-grid li .content {
    position: static !important;
    border: none !important;
}
.add-to-cart-wrapper .sizes-grid li .content .text {
    position: static !important;
    transform: none !important;
}
.add-to-cart-wrapper .sizes-grid li .content .text span {
    font-family: "pf_din_text_cond_prolight", Arial, Verdana, sans-serif !important;
    font-weight: normal !important;
    font-size: 16px !important;
}

/* Banner */
.product-view .service-banner-container {
    border: none !important;
    z-index: 0 !important;
}
.product-view .service-banner-container .service-banner-wrapper ul li .description {
    padding-top: 0 !important;
}
.product-view .service-banner-container .service-banner-wrapper ul li .description a {
    font-size: 16px !important;
    font-family: "pf_din_text_cond_prolight", Arial, Verdana, sans-serif;
    color: #000000;
    padding-top: 0 !important;
}
.product-view .service-banner-container .service-banner-wrapper ul {
    border-bottom: 2px solid #f2f2f2;
    margin-bottom: 20px;
}
.product-view .service-banner-container .service-banner-wrapper ul li .icon.phone {
    background-image: url('/skin/frontend/freddy/default/images/services/service_phone.jpg');
}
.product-view .service-banner-container .service-banner-wrapper ul li .icon.free-shipping {
    background-image: url('/skin/frontend/freddy/default/images/services/service_free_shipping.jpg');
}


/* Reviews */
.product-reviews-summary {
    clear: both;
    margin-bottom: 10px;
}
.product-reviews-summary:after {
    content: '';
    display: block;
    clear: both;
    line-height: 0;
}
.product-reviews-summary .rating-result {
    width: 150px;
    height: 24px;
    margin-right: 10px;
    position: relative;
    float: left;
}
.product-reviews-summary .rating-result .rating-wrap {
    width: 145px;
    height: 24px;
    position: relative;
}
.product-reviews-summary .rating-result:before,
.product-reviews-summary .rating-result .rating:before {
    font-size: 24px;
    line-height: 24px;
    height: 24px;
    font-weight: 200;
    letter-spacing: 6px;
    content: '\e9d9' '\e9d9' '\e9d9' '\e9d9' '\e9d9';
    font-family: 'icoset' !important;
    -webkit-font-smoothing: antialiased;
}
.product-reviews-summary .rating-result:before {
    width: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    color: #e0e0e0;
}
.product-reviews-summary .rating-result .rating {
    display: block;
    overflow: hidden;
    line-height: 0;
    height: 24px;
}
.product-reviews-summary .rating-result .rating:before {
    overflow: hidden;
    position: relative;
    z-index: 2;
    color: #fddf79;
}
.product-reviews-summary .reviewCount {
    font-size: 16px;
    line-height: 24px;
    color: #020303;
    font-family: "pf_din_text_cond_prolight", Arial, Verdana, sans-serif;
}
.product-reviews-summary .reviewCount:before {
    content: '(';
    font-size:inherit;
    line-height: inherit;
}
.product-reviews-summary .reviewCount:after {
    content: ')';
    font-size:inherit;
    line-height: inherit;
}


/*  Size Select */
.sizes-wrap {
    /* Size and position */
    position: relative; /* Enable absolute positioning for children and pseudo elements */
    margin-bottom: 15px !important;
    width: 100%;
    padding: 14px 20px 14px 15px;

    /* Styles */
    background: #fff;
    border-left: 5px solid grey;
    cursor: pointer;
    outline: none;

    border: 2px solid #020303;

    float: left;
    color: #020303 !important;
}
.sizes-wrap:after {
    content: '';
    display: inline-block;
    padding: 0;
    height: 8px;
    width: 8px;
    background: transparent;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    border: solid #020303;
    border-width: 0 1px 1px 0;
    pointer-events: none;
    margin: 0px 10px;
    transition: transform .3s;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -4px;
}
.sizes-wrap p {
    margin: 0;
    padding: 0;
    font-size: 16px !important;
    font-family: "pf_din_text_cond_proregular", Arial, Verdana, sans-serif;
}
.sizes-wrap .sizes-grid {
    /* Size & position */
    position: absolute;
    top: 100%;
    left: 0px;
    right: 0px;

    /* Styles */
    background: white;
    transition: all 0.3s ease-out;
    list-style: none;

    /* Hiding */
    opacity: 0;
    pointer-events: none;

    padding: 10px 15px;
}
.sizes-wrap .sizes-grid li a {
    display: block;
    text-decoration: none;
    color: #333;
    border-left: 5px solid;
    padding: 10px;
    transition: all 0.3s ease-out;
}
.sizes-wrap .sizes-grid li div span {
    padding: 0px;
    display: block;
    line-height: 39px;
    border-bottom: none;
    font-size: 16px;
    color: #020303;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "pf_din_text_cond_prolight", Arial, Verdana, sans-serif;
    text-decoration: none;
}
.sizes-wrap .sizes-grid li:nth-child(1) a {
    border-left-color: #00ACED;
}
.sizes-wrap .sizes-grid li:nth-child(2) a {
    border-left-color: #4183C4;
}
.sizes-wrap .sizes-grid li:nth-child(3) a {
    border-left-color: #3B5998;
}
.sizes-wrap .sizes-grid li i {
    margin-right: 5px;
    color: inherit;
    vertical-align: middle;
}
.sizes-wrap .sizes-grid li:hover div span {
    text-decoration: underline;
}
/* Hover state */
.sizes-wrap .sizes-grid li:hover a {
    color: grey;
}
.sizes-wrap.active:after {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}
.sizes-wrap.active .sizes-grid {
    opacity: 1;
    pointer-events: auto;
}
/*  [end] Size Select */

/* Product Details */
.product-view .colors-wrap > p, .product-view .colors-wrap .label, .product-view .colors-wrap span {
    color: #020303;
    font-size: 16px !important;
    font-family: "pf_din_text_cond_prolight", Arial, Verdana, sans-serif;
    font-weight: normal;
    text-transform: none !important;
}
.product-view .colors-wrap > p {
    text-transform: none !important;
}
.product-view .colors-wrap .colors-grid {
    margin-bottom: 5px;
}
.product-view .sizingbtns {
    clear: both;
    margin-bottom: 15px !important;
}
.product-view .sizingbtns a {
    font-size: 16px !important;
    color: #020303 !important;
    text-decoration: underline !important;
    text-transform: none !important;
    font-family: "pf_din_text_cond_prolight", Arial, Verdana, sans-serif !important;
    background: none !important;
    padding-left: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    margin-right: 15px !important;
}
.product-view .sizingbtns a:last-of-type {
    margin-right: 0 !important;
}
.new-product-price {
    clear: both;
    color: #020303 !important;
}
.new-price-wrapper .label, .new-price-wrapper .value, .new-price-discount .label, .new-price-discount .value {
    font-family: "pf_din_text_cond_prolight", Arial, Verdana, sans-serif !important;
    font-size: 18px !important;
}
.new-price-wrapper .value.line-through {
    text-decoration: line-through;
}
.new-price-wrapper .value.no-discount {
    float: left;
    margin-right: 20px;
}
.new-price-offer {
    float: left;
    margin-bottom: 15px;
}
.new-price-offer .label, .new-price-offer .value,
.new-price-wrapper .value.no-discount {
    font-family: "pf_din_text_cond_promedium", Arial, Verdana, sans-serif !important;
    font-size: 30px !important;
    line-height: 30px !important;
}
.new-price-offer .value {
    margin-right: 20px;
}
.freeshipping {
    color: #e9056d;
    font-family: "pf_din_text_cond_promedium", Arial, Verdana, sans-serif !important;
    font-size: 20px !important;
    display: block;
    width: 100%;
    clear: both;
}
.new-price-discount {
    float: left;
    margin-right: 15px;
}
.new-price-discount .value {
    margin-right: 5px;
}
.new-price-discount .percent {
    float: left;
    font-family: "pf_din_text_cond_proregular", Arial, Verdana, sans-serif !important;
    font-size: 30px !important;
    line-height: 30px !important;
    color: white;
    background-color: #ef5d9e;
    padding: 8px 10px;
    position: relative;
    top: -10px;
}
.out-of-stock-new {
    color: red;
    font-family: "pf_din_text_cond_proregular",Arial,Verdana,sans-serif;
    font-weight: normal;
    font-size: 16px;
    font-style: normal;
    line-height: 1.4;
    text-rendering: optimizeSpeed;
    text-transform: uppercase;
    display: block;
}

/* Product Description */
.product-collateral,
.product-view .product-tutorial .video-tutorial,
.product-shop .extra-info,
.sharing-links,
#group-item-price,
.product-view .add-to-cart-advice,
.add-to-cart-wrapper .info-box,
.product-view .product-essential .card-box,
.add-to-cart-wrapper .diwobutton {
    display: none !important;
}

.new-extra-product-description,
.new-product-description {
    max-width: 1260px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    clear: both;
    font-family: "pf_din_text_cond_prolight", Arial, Verdana, sans-serif !important;
    font-size: 16px !important;
    line-height: 20px !important;
    color: #020303 !important;
}

.text-wrap h1, .text-wrap h2, .text-wrap h3, .text-wrap h4, .text-wrap h5, .text-wrap h6 {
    color: #020303 !important;
}
.text-wrap h1.bold, .text-wrap h2.bold, .text-wrap h3.bold, .text-wrap h4.bold, .text-wrap h5.bold, .text-wrap h6.bold {
    font-family: "pf_din_text_cond_probold", Arial, Verdana, sans-serif !important;
    text-transform: none !important;
}
.text-wrap p {
    color: #020303 !important;
    font-size: 15px !important;
    line-height: 20px !important;
    font-family: "pf_din_text_cond_prolight", Arial, Verdana, sans-serif;
}

.new-product-description .title,
.new-extra-product-description .title,
.text-wrap strong {
    font-family: "pf_din_text_cond_promedium", Arial, Verdana, sans-serif !important;
    text-transform: none !important;
}
.new-product-description .wash,
.new-product-description .extra-info {
    margin-bottom: 20px;
}
.new-product-description .extra-info span {
    display: block;
}
.new-product-description .extra-info span strong {
    font-family: "pf_din_text_cond_promedium", "Helvetica Neue", Verdana, Arial, sans-serif;
}
.new-product-description .text-wrap .title {
    color: #000;
    font-family: "pf_din_text_cond_promedium", Arial, Verdana, sans-serif;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 15px;
}
.new-product-description:after,
.new-extra-product-description .row:after {
    content: '';
    display: block;
    clear: both;
}
.new-extra-product-description .right {
    text-align: right;
    margin-top: 15px;
}
.new-extra-product-description .right img {
    display: inline-block;
}
.new-product-description img, .new-extra-product-description img {
    max-width: 100%;
}
.new-extra-product-description .row {
    margin-bottom: 25px;
}
.new-product-description .column-3, .new-extra-product-description .row .column-2 {
    margin-bottom: 15px;
    width: 100%;
}
.new-extra-product-description .row .column-2.text_three .title {
    font-family: "pf_din_text_cond_probold", Arial, Verdana, sans-serif !important;
}
.new-extra-product-description .row .column-2.text_three ul {
    list-style: none;
    margin-top: 15px;
    max-width: 540px;
}
.new-extra-product-description .row .column-2.text_three ul li {
    margin-bottom: 15px;
    position: relative;
    font-family: "pf_din_text_cond_prolight", Arial, Verdana, sans-serif !important;
    font-size: 16px !important;
    line-height: 20px !important;
}
.new-extra-product-description .row .column-2.text_three ul li:before {
    content: '.';
    font-size: 16px;
    position: absolute;
    left: -8px;
}

.product-view .new-info-box {
    margin-bottom: 10px;
    color: #020303 !important;
    clear: both;
}
.product-view .new-info-box .new-shipping-info {
    font-size: 16px !important;
    font-family: "pf_din_text_cond_prolight", Arial, Verdana, sans-serif;
    display: block;
    width: 100%;
}
.product-view .new-info-box .new-shipping-info strong {
    font-family: "pf_din_text_cond_promedium", "Helvetica Neue", Verdana, Arial, sans-serif;
}
.product-view .new-info-box .new-info-advice {
    color: #f7941f;
    font-family: "pf_din_text_cond_promedium", "Helvetica Neue", Verdana, Arial, sans-serif;
    font-size: 18px !important;
}

.product-view .add-to-links li a {
    font-size: 16px !important;
    color: #020303 !important;
    text-decoration: underline !important;
    font-family: "pf_din_text_cond_prolight", Arial, Verdana, sans-serif !important;
    padding: 0 !important;
}
.product-view .add-to-cart-buttons .button {
    font-family: "pf_din_text_cond_prolight", Arial, Verdana, sans-serif;
    font-size: 16px !important;
    padding: 14px 15px !important;
    height: auto !important;
    line-height: 28px !important;
}

/* Prodotti Correlati */
.clerk-product-slider .clerk-slider-head {
    border-top: 2px solid #f2f2f2;
}

@media only screen and (min-width: 480px) {
    .product-view .service-banner-container .service-banner-wrapper ul {
        margin-bottom: 30px;
    }

    .new-extra-product-description, .new-product-description {
        padding-left: 30px;
        padding-right: 30px;
    }
    .new-product-description .column-3, .new-extra-product-description .row .column-2 {
        margin-bottom: 30px;
    }

    .product-view .sizes-wrap, .product-view .add-to-cart {
        width: 50% !important;
    }
    .product-view .sizingbtns:not(.two) {
        clear:none;
        float: left;
        padding-left: 20px;
    }
    .product-view .sizingbtns:not(.two) a {
        line-height: 56px !important;
    }
    .product-view .add-to-cart {
        margin-right: 20px;
        float: left;
    }
    .product-view .add-to-links {
        clear: none !important;
        margin: 0 !important;
        padding: 0 !important;
        line-height: 56px !important;
        border: none !important;
    }

    .clerk-product-slider .clerk-slider-head {
        padding-left: 30px;
        padding-right: 30px;
        text-align: left !important;
    }
}

@media only screen and (min-width: 600px) {
    .freeshipping {
        display: inline;
        width: auto;
    }

    .product-view .sizingbtns {
        width: 50%;
        float: left;
        clear: none;
        padding-left: 20px;
    }
    .product-view .sizingbtns a {
        line-height: 56px !important;
    }

    .product-view .new-info-box .new-shipping-info {
        margin-right: 10px;
        width: auto;
        display: inline-block;
    }
    .product-view .new-info-box .new-info-advice {
        padding-left: 10px;
        position: relative;
    }
    .product-view .new-info-box .new-info-advice:before {
        content: '';
        display: inline-block;
        height: 16px;
        width: 1px;
        background: #020303;
        position: absolute;
        left: 0;
        top: 3px;
    }

    /* Banner */
    .product-view .service-banner-container .service-banner-wrapper ul {
        border-bottom: none;
        margin-bottom: 0;
    }
    .product-view .service-banner-container .service-banner-wrapper ul li {
        width: 33.33%;
    }
    .product-view .service-banner-container .service-banner-wrapper ul li .icon {
        margin-bottom: 10px;
    }

    /* Product Description */
    .new-product-description {
        padding-top: 30px;
    }
    .new-product-description .column-3:nth-of-type(2), .new-product-description .column-3:nth-of-type(3) {
        width: 50%;
        float: left;
    }
}

@media only screen and (min-width: 771px) {
    .freeshipping {
        display: block;
    }
    .product-view .new-info-box .new-info-advice {
        padding-left: 0;
    }
    .product-view .new-info-box .new-info-advice:before {
        display: none;
    }

    .product-img-box .bx-wrapper {
        max-width: calc(100% - 105px) !important;
        margin-left: 105px;
    }

    .new-extra-product-description,
    .new-product-description {
        padding: 30px 25px;
    }

    .new-product-description .column-3,
    .new-product-description .column-3:nth-of-type(2),
    .new-product-description .column-3:nth-of-type(3) {
        width: 33.33%;
        box-sizing: border-box;
        display: block;
        float: left;
    }

    .new-product-description .column-3:nth-of-type(1),
    .new-product-description .column-3:nth-of-type(2) {
        margin-top: 20px;
    }

    .new-extra-product-description .column-3 .wash, .new-extra-product-description .column-3 .extra-info, .new-product-description .space-left {
        padding-left: 20px;
    }
    .new-extra-product-description .row .column-2 {
        width: 50%;
        display: block;
        float: left;
    }
    .new-extra-product-description .row .column-2.text_one {
        padding: 20px 0 20px 40px;
    }
    .new-extra-product-description .row .column-2.text_two {
        padding: 0 30px 0 0;
    }

    .product-view .sizes-wrap, .product-view .add-to-cart {
        width: 100% !important;
    }
    .product-view .add-to-cart-buttons .button {
        font-size: 16px !important;
        font-family: "pf_din_text_cond_prolight", Arial, Verdana, sans-serif !important;
        padding: 14px 15px !important;
        height: auto !important;
        line-height: 28px !important;
    }
    .product-view .add-to-links {
        line-height: normal !important;
    }
    .product-view .sizingbtns,
    .product-view .sizingbtns:not(.two)
    {
        padding-left: 0;
        width: 100%;
    }
    .product-view .sizingbtns a,
    .product-view .sizingbtns:not(.two) a {
        line-height: normal !important;
    }

    .product-view .new-info-box .new-shipping-info {
        display: block;
        width: 100%;
        margin-right: 0;
    }
}

@media only screen and (min-width: 1024px) {
    .new-extra-product-description .column-3 .wash, .new-extra-product-description .column-3 .extra-info {
        padding-left: 50px;
    }
    .new-product-description .space-left {
        padding-left: 50px;
    }
    .new-extra-product-description .row {
        margin-bottom: 110px;
    }
    .new-extra-product-description .row .column-2.text_one {
        padding: 30px 0 30px 60px;
    }
    .new-extra-product-description .row .column-2.text_two {
        padding: 0 90px 0 0;
    }
    .product-view .sizes-wrap, .product-view .add-to-cart {
        width: 50% !important;
    }
    .product-view .add-to-links {
        line-height: 56px !important;
    }
}

@media only screen and (min-width: 1200px) {
    .freeshipping {
        display: inline;
    }
    .product-view .sizingbtns,
    .product-view .sizingbtns:not(.two) {
        padding-left: 20px;
        width: 50%;
    }
    .product-view .sizingbtns a,
    .product-view .sizingbtns:not(.two) a {
        line-height: 56px !important;
        margin-bottom: 0!important;
    }
}

@media only screen and (min-width: 1300px) {
    .product-view .new-info-box .new-info-advice {
        padding-left: 10px;
    }
    .product-view .new-info-box .new-info-advice:before {
        display: inline-block;
    }
    .product-view .new-info-box .new-shipping-info {
        margin-right: 10px;
        width: auto;
        display: inline-block;
    }
}